{% extends 'index.html' %}

{% block title %}Add Tag{% endblock %}

{% block content %}

<h1>Create a tag</h1>

<form method="POST" action="/tags/new">

    <div class="row">
        <label for="name" class="form-label">
            Name
        </label>
        <input type="text" class="form-control" id="name" name="name"
                placeholder="Enter tag name"
        >
    </div>

    <div class="row">
        {% for post in posts %}
            <div>
                <input class="form-input"
                    type="checkbox"
                    value="{{ post.id }}"
                    id="post_{{ post.id }}"
                    name="posts"
                >
                <label class="form-label" for="post_{{ post.id }}">
                    {{ post.title }}
                </label>
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-success">Add</button>
        <a href="/tags" class="btn btn-outline-danger">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}